src/*.exe
src/brovaideacoin
src/brovaideacoind
src/test_brovaideacoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.brovaideacoin

# Compilation and Qt preprocessor part
*.qm
Makefile
brovaideacoin-qt
BrovaIdeaCoin-Qt.app

# Unit-tests
Makefile.test
brovaideacoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
